# Node.js
node_modules/
dist/
.env
.env.local
.env.development
.env.production
*.log
logs/

# Vite cache
.vite/
url-shortner-frontend/.vite/

# Build outputs
build/
coverage/
dist/


# Editor
.vscode/
*.code-workspace

# Misc
.DS_Store